*,
*::before,
*::after {
	box-sizing: border-box;
}

@font-face {
	font-family: "Pathfinder-Icons";
	src: 
		local("Pathfinder-Icons"), 
		local("Pathfinder-Icons-Regular"),
		url("Pathfinder-Icons.tff")
}

body {
	font-family: sans-serif;
	text-align: left;
	color: rgb(25, 25, 41);
}

body > * {
	margin-bottom: 10px;
}

button {
	justify-content: center;
	text-align: center;
	align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


h2, h3 {
	margin: 0 0 0.5rem;
}

h4, h5, p {
	margin: 0 0 0.2rem;
}

section {
	display: flex;
	border-radius: 0.7rem;
	background-color: rgb(235, 209, 198);
	padding: 0.6rem;
}

hr {
	width: 100%;
	margin: unset;
}

.flex-row {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.flex-shrink {
	flex-shrink: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

.center-col-layout {
	flex-basis:1;
	flex-grow:2;
	flex-shrink: 1; 
}

.right-side-col {
	align-items: stretch;
	flex-shrink: 1; 
	gap: 1rem;
	flex-grow:1;
	flex-basis:1;
	max-width: fit-content;
}

.text-right {
	text-align: right;
}

.text-right > * {
	text-align: right;
}

.no-grow-children > * {
	flex-grow: 0;
}

.skill-grid  {
	display:grid;
	grid-template-columns: 6fr 0.5fr 0.5fr;
	row-gap: 0.2rem;
	column-gap: 0.5rem;
	:nth-child(3n + 2) {
		text-align: center;
		align-content: center;
	}
	:nth-child(3n + 3) {
		min-width: 22px;
		text-align: center;
		align-content: center;
	}
}

.skill-grid-edit {
	grid-template-columns: 6fr 4fr 0.5fr;
}

.proficiency-letter {
	background-color: gray;
	color: white;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.proficiency-letter-trained {
	background-color: orangered;
}

.align-flex-start {
	align-items: flex-start;
}

.feat-paragraph-layout {
	flex:unset;
	display: inline-block;
	width: max-content;
	text-align: end;
}

.center-text-area {
	@extend .bright-bg;
	min-height: 20rem; 
	background:unset;
	flex-grow: 2;
	border: unset;
	resize: none;
}

.boosted-stat {
	color: rgb(39, 161, 60);
}

.hp-input {
	max-width: 5rem;
}

.scaling-text {
	font-size: 0.8rem;
}


.trait{
	padding: 0.2rem;
	background-color: rgb(114, 49, 17);
	border: 2px solid rgb(175, 145, 101);
	color: white;
}

.bright-bg {
	background-color: rgb(243, 227, 219);
	padding: 0.4rem;
	border-radius: 0.5rem;
}

.tiny-text {
	font-size: 0.7rem;
}

.condition-div {
	@extend .flex-row;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: flex-end;
}

.condition-text {
	font-size: 1rem;
}

.selected-condition {
	border: 2px solid brown;
}

.feat-title-row {
	* {
		margin: unset;
	}
	align-items: center;
}

.action-icon {
	font-family: 'Pathfinder-Icons';
}

.selected-tactic {
	background-color: brown;
	color: white;
}

.selected-tactic .trait {
	background-color: rgb(43, 16, 11);
	border: 2px solid rgb(253, 251, 248);
	color: white;
}

.selected-tactic hr {
	color: white;
}

.error {
	color: red;
}

.broken {
	color: brown;
}

@media screen and (min-height: 700px) {
	body {
		font-size: 1.0rem;
	}
	.center-text-area {
		font-size: 1.0rem;
	}

	.scaling-text {
		font-size: 1.0rem;
	}

	.tiny-text {
		font-size: 0.85rem;
	}
}

@media screen and (min-height: 800px) {
	body {
		font-size: 1.25rem;
	}
	.center-text-area {
		font-size: 1.25rem;
	}

	.scaling-text {
		font-size: 1.25rem;
	}
	
	.tiny-text {
		font-size: 1rem;
	}
}

.no-grow {
	flex-grow: 0;
}

.no-margins {
	margin: unset;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-grow-2 {
	flex-grow: 2;
}

.flex-grow-3 {
	flex-grow: 3;
}

.flex-grow-4 {
	flex-grow: 4;
}

.align-center {
	align-items: center
}

.align-stretch {
	align-items: stretch
}

.space-between {
	justify-content: space-between;
}