*,
*::before,
*::after {
	box-sizing: border-box;
	scrollbar-width: thin;
}

@font-face {
	font-family: "Pathfinder-Icons";
	src: 
		local("Pathfinder-Icons"), 
		local("Pathfinder-Icons-Regular"),
		url("Pathfinder-Icons.tff")
}

body {
	font-family: sans-serif;
	text-align: left;
	color: rgb(25, 25, 41);
}

body > * {
	margin-bottom: 10px;
}

button {
	justify-content: center;
	text-align: center;
	align-items: center;
	cursor: pointer;
}

label, h1, h2, h3, h4, div {
	cursor: default;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


h1, h2, h3 {
	margin: 0 0 0.5rem;
}

h4, h5, p {
	margin: 0 0 0.2rem;
}

section {
	display: flex;
	border-radius: 0.7rem;
	background-color: rgb(235, 209, 198);
	padding: 0.6rem;
}

hr {
	width: 100%;
	margin: unset;
}

textarea b {
	color: #4c85c1;
}

p b {
	color: #4c85c1;
}

.flex-row {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.flex-shrink {
	flex-shrink: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

.center-col-layout {
	flex-basis:1;
	flex-grow:2;
	flex-shrink: 1; 
	gap: unset;
}

.right-side-col {
	align-items: stretch;
	flex-shrink: 1; 
	gap: 1rem;
	flex-grow:1;
	flex-basis:1;
	max-width: fit-content;
	max-height: 82vh;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: thin;  /* Firefox */
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 2px;
}

.text-right {
	text-align: right;
}

.text-right > * {
	text-align: right;
}

.no-grow-children > * {
	flex-grow: 0;
}

.skill-grid  {
	display:grid;
	grid-template-columns: 6fr 0.5fr 0.5fr;
	row-gap: 0.2rem;
	column-gap: 0.5rem;
	:nth-child(3n + 2) {
		text-align: center;
		align-content: center;
	}
	:nth-child(3n + 3) {
		min-width: 22px;
		text-align: center;
		align-content: center;
	}
}

.skill-grid-edit {
	grid-template-columns: 6fr 4fr 0.5fr;
}

.modal {
	display:flex;
	top:0;
	left:0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
	padding: 1%;
	align-items: center;
	justify-content: center;
}

.modal-content {
	width: fit-content;
	height: fit-content;
	background-color: rgb(235, 209, 198);
	padding: 1.5rem;
	border-radius: 0.7rem;
}

.modal-description {
	max-width: 60vw;
}

.condition-modal {
	@extend .modal;
	align-items: flex-start
}

.condition-modal-content {
	@extend .modal-content;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(9, 1fr);
	max-height: 100%;
	justify-items: stretch;
	gap: 10px 30px
}

.bright-bg {
	background-color: rgb(243, 227, 219);
	border: 2px solid rgb(243, 227, 219);
	padding: 0.4rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.bright-bg * {
	cursor: pointer;
}

.bright-bg:hover {
	background-color: rgb(243, 232, 227);
	border: 2px solid brown;
}

.prof-list {
	margin-bottom: 1.5rem;
}

.proficiency-letter {
	background-color: gray;
	color: white;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.proficiency-letter-trained {
	background-color: brown;
}

.align-flex-start {
	align-items: flex-start;
}

.feat-paragraph-layout {
	flex:unset;
	display: inline-block;
	width: max-content;
	text-align: end;
}

.tabs {
	@extend .flex-row;
	* {
		padding: 0.4rem;
		border-radius:  0.5rem 0.5rem 0 0;
		cursor: pointer;
		background-color: rgb(199, 183, 175);
	}
}

.selected-tab {
	background-color: rgb(243, 227, 219);
}

.center-text-area {
	@extend .bright-bg;
	margin-top: unset;
	border: unset;
	border-radius: 0.5rem;
	min-height: 20rem; 
	flex-grow: 2;
	resize: none;
	cursor: text;
}

.first-tab-selected {
	border-radius: 0 0.5rem 0.5rem 0.5rem;
}

.center-text-area:hover {
	border: unset;
}

.center-text-area:focus {
	outline: 0;
	border: unset;
	background-color: rgb(243, 227, 219);
}

.equip-section {
	max-width: 30vw;
}

.weapon-first-row-bonuses {
	margin-left: 20px;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr;
	max-height: 100%;
	justify-items: stretch;
	gap: 20px
}

.weapon-first-row-bonuses div:nth-of-type(1) {
	min-width: 90px;
	text-align: center;
	justify-content: center;
}

.weapon-first-row-bonuses div:nth-of-type(2) {
	text-align: end;
}

.adjust-up {
	color: rgb(39, 161, 60);
}

.adjust-down {
	color: rgb(206, 16, 16);
}

.hp-input {
	max-width: 5rem;
}

.scaling-text {
	font-size: 0.8rem;
}

.tiny-text {
	font-size: 0.7rem;
}

.trait{
	padding: 0.2rem;
	border-radius: 3;
	color: black;
	font-style: italic;
}

.trait-view {
	gap: 3px
}

.trait:hover{
	padding: 0.2rem;
	border-radius: 3;
	background-color: brown;
	color: white;
	font-style: italic;
}

.weapon-view {
	@extend .flex-col;
	gap: 2px;
}

#top_right_div {
	min-width: 400px;
}

.condition-div {
	@extend .flex-row;
	align-items: center;
	justify-content:center
}

.condition {
	@extend .flex-row;
	@extend .align-center;
	@extend .bright-bg;
	border: 2px solid rgba(165, 42, 42, 0);
	
	> label {
		font-size: 1rem;
	}
}


.selected-condition {
	border: 2px solid brown;
}

.feat-title-row {
	* {
		margin: unset;
	}
	align-items: center;
}

.action-icon {
	font-family: 'Pathfinder-Icons';
}

.selected-tactic {
	background-color: brown;
	border: 2px solid brown;
	color: white;
}

.selected-tactic:hover {
	background-color: rgb(166, 62, 62);
	border: 2px solid rgb(166, 62, 62);
	color: white;
}

.selected-tactic .trait {
	color: white;
}

.selected-tactic .trait:hover {
	background-color: white;
	color: rgb(25, 25, 41);
}

.selected-tactic hr {
	color: white;
}

.error {
	color: red;
}

.broken {
	color: brown;
}

@media screen and (min-height: 700px) {
	body {
		font-size: 1.0rem;
	}
	.center-text-area {
		font-size: 1.0rem;
	}

	.scaling-text {
		font-size: 1.0rem;
	}

	.tiny-text {
		font-size: 0.85rem;
	}
}

@media screen and (min-height: 800px) {
	body {
		font-size: 1.25rem;
	}
	.center-text-area {
		font-size: 1.25rem;
	}

	.scaling-text {
		font-size: 1.25rem;
	}
	
	.tiny-text {
		font-size: 1rem;
	}
}

.no-grow {
	flex-grow: 0;
}

.no-margins {
	margin: unset;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-grow-2 {
	flex-grow: 2;
}

.flex-grow-3 {
	flex-grow: 3;
}

.flex-grow-4 {
	flex-grow: 4;
}

.align-center {
	align-items: center
}

.align-stretch {
	align-items: stretch
}

.space-between {
	justify-content: space-between;
}

.shield-button {
	background-color: brown;
	color: white;
}

.raised-shield-button{
	border: 2px solid rgb(39, 161, 60);
	border-radius: 5;
}