*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	text-align: left;
}

button {
	justify-content: center;
	text-align: center;
	align-items: center;
}

@media screen and (min-height: 700px) {
	body {
		font-size: 1.1rem;
	}
}

@media screen and (min-height: 800px) {
	body {
		font-size: 1.25rem;
	}
}

h2, h3 {
	margin: 0 0 0.5rem;
}

h4, h5, p {
	margin: 0 0 0.2rem;
}

section {
	border-radius: 0.7rem;
	background-color: rgb(235, 209, 198);
	padding: 0.6rem;
}

.flex-row {
	display: flex;
	flex-direction: row;
	gap: 10px;

	h1, h2, h3, h4 {
		display: block;
		flex-grow: 0;
	}
	* {
		flex: 1;
	}
	p {
		flex:unset;
		display: inline-block;
		width: max-content;
		max-width: 15rem;
		text-align: end;
	}
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: 5px;
	h1, h2, h3, h4 {
		display: block;
		flex-grow: 0;
	}
	* {
		flex: 1;
	}
	p {
		flex:unset;
		display: inline-block;
		max-width: 15rem;
		text-align: end;
	}
}

.flex-wrap {
	flex-wrap: wrap;
}

.right-side-col {
	align-items: flex-end;
}

.text-right {
	text-align: right;
}

.text-right > * {
	text-align: right;
}

.no-grow {
	flex-grow: 0;
}

.no-grow-children {
	* {
		flex-grow: 0;
	}
}


.flex-grow-1 {
	flex-grow: 1;
}

.flex-grow-2 {
	flex-grow: 2;
}

.flex-grow-3 {
	flex-grow: 3;
}

.flex-grow-4 {
	flex-grow: 4;
}

.align-center {
	align-items: center
}

.space-between {
	justify-content: space-between;
}

.skill-grid  {
	display:grid;
	grid-template-columns: auto auto auto;
	row-gap: 2px;
	column-gap: 10px;
	* {
		flex-basis: 0;
		flex-grow: 0;
	}
	:nth-child(3n + 2) {
		text-align: center;
		justify-self: center;
		align-content: center;
	}
	:nth-child(3n + 3) {
		text-align: center;
		justify-self: center;
		align-content: center;
	}
}

.proficiency-letter {
	background-color: gray;
	color: white;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.proficiency-letter-trained {
	background-color: orangered;
}

